.App {
  text-align: center;
}
body{
  background-image: url("https://media3.giphy.com/media/xT8qBrVWtuRwWNAp1K/giphy.gif?cid=ecf05e479948ian03vl0xgtubl3oozpvn0tla6nutap1y30w&rid=giphy.gif&ct=g") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  
}
h1{
  color: black;
 font-weight: bold;
 font-family:Verdana, Geneva, Tahoma, sans-serif
}
h2{
  color: black ;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.p{
  color: black ;
  font-weight: bolder;
  font-family:'Times New Roman', Times, serif
  
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
 
}
.item {
 font-size: large;
 font-weight:bolder;
}
